<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Task Manager</title>
  </head>
  <body>
    <h1>Welcome to The Productive Task Manager app!</h1>
    <p>Organize your tasks efficiently and stay on course</p>
    <a href="/login">Login</a> | <a href="/register">Register an account</a>
  </body>
</html>
